h1,
h2,
h3,
h4 {
  font-family: Roboto, sans-serif;
  /* border: 2px solid blue;*/
  margin: 10px;
}


/* Navbar */
#navbar {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    list-style: none;
    border: 2px solid red;
  }

 a {
    text-decoration: none;
  }
  /* Menu */

#menu {
    margin: 0 auto;
    width: 800px;
    text-align: center;
    border: 2px solid blue;
}

/* Resizing images */
.resize-img {
    width: 500px;
}

